<script>
  
  Base.features.push({
    listeners: {},
    init: function() {
      this.listenListeners();
    },
    listenListeners: function() {
      for (var n in this.listeners) {
        this.listen(n, this.listeners[n]);
      }
    },
    listen: function(eventName, methodName) {
      this.addEventListener(eventName, function(e) {
        this[methodName](e, e.detail);
      }.bind(this));
    },
    fire: function(type, detail, onNode, bubbles, cancelable) {
      var node = onNode || this;
      var detail = (detail === null || detail === undefined) ? {} : detail;
      var event = new CustomEvent(type, {
        bubbles: bubbles !== undefined ? bubbles : true,
        cancelable: cancelable !== undefined ? cancelable : true,
        detail: detail
      });
      node.dispatchEvent(event);
      return event;
    },
    eventBind: function(eventName, node, targetValue, model, property) {
      node.addEventListener(eventName, function(e) {
        model[property] = e.target[targetValue];
        Polymer.log.events && console.log('[eventBind]: %s.%s = %s', 
          e.target.localName, targetValue, e.target[targetValue]);
      });
    }
  });
  
</script>
