<link rel="import" href="lang.html">
<link rel="import" href="layout.html">

<link rel="import" href="base.html">

<!-- pluggable features for Base-->
<link rel="import" href="utils.html">
<link rel="import" href="data.html">
<link rel="import" href="annotations.html">
<link rel="import" href="bindings.html">
<link rel="import" href="events.html">
<link rel="import" href="experimental.html">

<script>
  Base.installFeatures();
  Base.__proto__ = HTMLElement.prototype;
  
  var Polymer = function(prototype) {
    prototype.__proto__ = Base;
    prototype.registerCallback();
    document.registerElement(prototype.name, {prototype: prototype});
  }
  
  Polymer.log = {
  };
</script>