<script>
  var instanceTemplate = function(template) {
    return document.importNode(template.content, true);
  };

  var preprocessTemplate = function(template) {
    var map = [];
    var a = _preprocess(template.content, map);
    if (a) {
      a.map = map;
      //console.log(a.map);
    }
    template.map = map;
  };

  var _preprocess = function(node, map) {
    return node.nodeType === Node.TEXT_NODE ? preprocessTextNode(node, map) : preprocessNode(node, map);
  };

  var preprocessTextNode = function(node, map) {
    var t = node.textContent;
    if (t.slice(0, 2) === '{{' || t.slice(0, 2) === '[[') {
      var annotations = Object.create(null);
      annotations.name = 'text';
      annotations.value = t;
      map.push(annotations);
      return annotations;
    }
    return null;
  };
  
  var preprocessNode = function(node, map) {
    var annotations = Object.create(null);
    parseAnnotations(node, annotations, map);
    preprocessChildNodes(node, annotations, map);
    return annotations;
  };
  
  var parseAnnotations = function(node, annotations, map) {
    var bound = false;
    if (node.attributes) {
      var b$ = annotations.bindings = Object.create(null);
      var e$ = annotations.events = Object.create(null);
      for (var i=0, a; a=node.attributes[i]; i++) {
        var n = a.name, v = a.value;
        if (v.slice(0, 2) === '{{') {
          b$[n] = {
            raw: v,
            prop: v.slice(2, -2)
          };
          bound = true;
        }
        if (n.slice(0, 3) === 'on-') {
          e$[n.slice(3)] = v;
          bound = true;
        }
      }
    }
    if (bound) {
      map.push(annotations);
    }    
    annotations.name = node.localName || 'template';
  };
  
  var preprocessChildNodes = function(root, annotations, map) {
    if (root.firstChild) {
      var c$ = annotations.children = [];
      for (var i=0, node=root.firstChild; node; node=node.nextSibling, i++) {
        var ann = _preprocess(node, map);
        if (ann) {
          ann.parent = annotations;
          ann.index = i;
        }
        c$.push(ann);
      }
    }
  };
  
  var mapFind = function(root, n) {
    return n.parent ? mapFind(root, n.parent).childNodes[n.index] : root;
  };
  
</script>