pi-app {
  font-family: sans-serif;
  background-color: #ececec;
  color: #333;
  -webkit-user-select: none;
  user-select: none;
}
x-icon, item {
  cursor: pointer;
}
[drawer] {
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
[header] {
  height: 96px;
  padding: 16px;
  font-size: 1.3em;
}
[header] > * {
  margin: 4px 8px;
}
[drawer] > [header] {
  color: #fafafa;
  background-color: #02a8f3;
}
#main [header] {
  color: #fafafa;
  background-color: #069bde;
}
[menu]{
  padding: 20px 0 0 16px;
}
[menu] > * {
  margin-bottom: 16px;
}
[menu] x-icon {
  margin-right: 16px;
}
x-repeater {
  padding: 4px 0;
  text-align: center;
}
x-repeater > * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 245px;
  width: 210px;
  margin: 4px;
  text-align: left;
  overflow: hidden;
}
@media screen and (max-width: 450px) {
  x-repeater > * {
    width: 174px;
    height: 260px;
    margin: 2px;
    font-size: 13px;
  }
}

/* main */

#main x-repeater > * {
  display: inline-flex;
  flex-direction: column;
}

/* topic */

#topic [header] {
  color: #fafafa;
  background-color: #069bde;
}

/* topic:grid */

/* topic:quilt */

#topic.quilt x-repeater {
  text-align: center;
  width: 872px;
  margin: 0 auto;
}
#topic.quilt x-repeater > * {
  float: left;
}
#topic.quilt x-repeater > *:nth-of-type(18n),
#topic.quilt x-repeater > *:nth-of-type(18n-1),
#topic.quilt x-repeater > *:nth-of-type(18n-2)
#topic.quilt x-repeater > *:nth-of-type(18n-3),
#topic.quilt x-repeater > *:nth-of-type(18n-4),
#topic.quilt x-repeater > *:nth-of-type(18n-5)
#topic.quilt x-repeater > *:nth-of-type(18n-6),
#topic.quilt x-repeater > *:nth-of-type(18n-7),
#topic.quilt x-repeater > *:nth-of-type(18n-8) {
  float: right;
}
#topic.quilt x-repeater > *:nth-of-type(9n - 8) {
  height: 498px;
  width: 428px;
}

/* article */

#article {
  background-color: whitesmoke;
}
#article [header] {
  color: #fafafa;
  background-color: #069bde;
}
#article > .main-outer {
  width: 100%;
}
#articleMain {
  background-color: white;
  max-width: 760px;
  padding: 40px;
  margin: 0 auto;
}
#articleMain > .title {
  padding: 0 0 20px;
  font-size: 26px;
}
#articleMain > .info {
  padding-bottom: 16px;
  color: #666;
}
#articleMain > #content {
  overflow: hidden;
}
.animate > * {
  transition: -webkit-transform ease-out 500ms;
  transition: transform ease-out 500ms;
}