{
  "extends": "eslint:recommended",
  "rules": {
    "no-cond-assign": [2, "except-parens"],
    "no-console": 0
  },
  "env": {
    "browser": true
  },
  "plugins": [
    "html"
  ],
  "globals": {
    "CustomElements": true,
    "HTMLImports": true,
    "Polymer": true
  }
}
