[submodule "buildbot"]
	path = buildbot
	url = https://github.com/Polymer/buildbot.git
[submodule "tools"]
	path = tools
	url = https://github.com/Polymer/tools.git
[submodule "platform"]
	path = platform
	url = https://github.com/Polymer/platform.git
	branch = master
