language: node_js
sudo: required
dist: trusty
node_js: stable
addons:
  firefox: latest
  sauce_connect: true
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
cache:
  directories:
    - node_modules
before_script:
- npm install -g bower gulp-cli@1
- bower install
- gulp lint
- gulp switch
script:
- xvfb-run wct
- "if [ \"${TRAVIS_PULL_REQUEST}\" = \"false\" ]; then wct -s default; fi"

env:
  global:
  - secure: eFrp9xwSYG579rAR9/XyXYKh+UtIQJ1xS5q5PABu4ndYFckdJb8o3m7oXqRSikbiPWbCSd3Fkd6+ZKXlcQFdjJ+nx9gFitGthtH93qkvZCO3XhWEEBPj65igIo3hrRSOB6dIWyiZcnoH9IXLLQtKXY9uL1NCqCcyVHg1omPKr9w=
  - secure: EAjjkzqZ8z+PEvdo2N2MiIjkqUYAjVkQABKyMw6N4hUa6YSNEW9PYyn4I0d9Rdvc25GwJ+oLQFdeQepioAkNfp6wYUj2IdMIfmmKa1aJWo5DWvOMDYp3ufRhIoiVi4ZVpLg9sTjw+078UhUQFWE44rwfUtHiIb2UbWe2/ueLOiM=
