<style>

  x-collapse {
    display: block;
    overflow: hidden;
  }
  
  x-collapse[animate] {
    transition: height 200ms ease-in;
    /*
    transition-property: width, height;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
    */ 
  }
  
</style>
<script>
  Polymer({

    name: 'x-collapse',

    listeners: {
      click: 'clickAction'
    },
    
    created: function() {
      this.async(this.setup);
    },

    setup: function() {
      this.rect = this.getBoundingClientRect();
      if (!this.open) {
        this.style.height = 0;
      }
      this.setAttribute('animate', '');
      console.log(this.rect);
    },

    toggle: function() {
      this.open = !this.open;
    },

    clickAction: function() {
      this.toggle();
    },

    set open(open) {
      this._open = open;
      this.style.height = open ? this.rect.height + 'px' : 0;
    },

    get open() {
      return this._open;
    }

  })
</script>