<script>
  Polymer({
    name: 'x-media-query',
    published: {
      query: String
    },
    bind: {
      query: 'queryChanged'
    },
    beforeCreated: function() {
      this._mqHandler = this.queryHandler.bind(this);
      this._mq = null;
    },
    queryChanged: function() {
      if (this._mq) {
        this._mq.removeListener(this._mqHandler);
      }
      var query = this.query;
      if (query[0] !== '(') {
        query = '(' + this.query + ')';
      }
      this._mq = window.matchMedia(query);
      this._mq.addListener(this._mqHandler);
      this.queryHandler(this._mq);
    },
    queryHandler: function(mq) {
      this.queryMatches = mq.matches;
      this.async(function() {
        this.fire('media-change', mq);
      });
    }
  });
</script>
