<script>

  Polymer({

    name: 'x-selector',

    published: {
      selectable: String,
      index: {
       type: Number,
       notify: true 
      },
      selectedId: {
        type: String,
        notify: true
      }
    },
    
    bind: {
      selected: 'selectedChanged',
      selectedId: 'selectedIdChanged',
      index: 'indexChanged'
    },

    listeners: {
      click: 'click'
    },

    created: function() {
      this.observeItems();
    },

    observeItems: function() {
      var observer = new MutationObserver(function() {
        this._items = null;
        this._selectedEffector();
        //var index = this.index;
        //this.indexChanged(-1);
        //this.indexChanged(index);
      }.bind(this));
      observer.observe(this, {
        childList: true,
        subtree: true
      });
    },

    selectedChanged: function(selected, old) {
      this.index = this.items.indexOf(this.selected);
      this.selectedId = this.selected && this.selected.id;
      this.attributeFollows('selected', selected, old);
    },

    indexChanged: function(index) {
      this.selected = this.items[index];
    },

    selectedIdChanged: function(id) {
      if (id) {
        for (var i=0, it; (it=this.items[i]); i++) {
          if (it.id === id) {
            this.selected = it;
            return;
          }
        }
      }
      this.selectedId = '';
    },

    get items() {
      if (!this._items) {
        var nodes;
        if (this.selectable) {
          nodes = this.querySelectorAll(this.selectable);
        } else {
          nodes = this.children;
        }
        this._items = Array.prototype.slice.call(nodes, 0);
      }
      return this._items;
    },

    click: function(e) {
      var t = e.target;
      if (t !== this) {
        if (this.selectable) {
          while (t && t !== this && t.localName !== this.selectable) {
            t = t.parentNode || t.host;
          }
        }
        this.selected = t;
      }
    }

  });

</script>
