<link rel="import" href="x-item.html">

<style>

  x-submenu { 
    display: block;
  }

  x-submenu #submenu {
    display: block;
    margin: 0 0 0 44px;
  }

  x-collapse {
    display: block;
  }

</style>
<template>

  <div id="item">
    <content select="[menu]"></content>
  </div>

  <x-collapse id="collapse" vertical layout end-justified>
    <x-selector id="submenu">
      <content></content>
    </x-selector>
  </x-collapse>

</template>
<script>

  Polymer({

    name: 'x-submenu',

    opened: false,

    listeners: {
      'item.click': 'clickAction'
    },

    bind: {
      label: 'item.label',
      icon: 'item.icon',
      src: 'item.src',
      selected: 'submenu.selected',
      open: 'collapse.open'
    },

    created: function() {
      //this.$.collapse.target = this.$.submenu;
      this.attributeChanged('icon');
      this.attributeChanged('label');
    },

    attributeChanged: function(n) {
      switch(n) {
        case 'icon':
          this.icon = this.getAttribute(n);
          break;
        case 'label':
          this.label = this.getAttribute(n);
          break;
      }
    },

    clickAction: function() {
      this.toggle();
    },

    toggle: function() {
      this.open = !this.open;
    }

  });

</script>