<link rel="import" href="g-animation.html">
<element name="g-animation-group" extends="g-animation" on-animationchange="onAnimationChange">
  <script>
    var ANIMATION_GROUPS = {
      'par': ParGroup,
      'seq': SeqGroup
    };
    /**
     * @module Animation
     */
    /**
     * Component for a group of animations.
     *
     * A fade in and move animation in sequence:
     *
     *     <g-animation-group type="seq">
     *       <g-animation>
     *         <g-property name="opacity">
     *           <g-keyframe value="0.5" offset="0"></g-keyframe>
     *           <g-keyframe value="1" offset="1"></g-keyframe>
     *         <g-property>
     *       </g-animation>
     *       <g-animation>
     *         <g-property name="transform">
     *           <g-keyframe value="translateX(0)" offset="0"></g-keyframe>
     *           <g-keyframe value="translateX(100px)" offset="1"></g-keyframe>
     *         <g-property>
     *       </g-animation>
     *     </g-animation-group>
     * @class g-animation-group
     */
    Toolkit.register(this, {
      /**
       * If specified the target will be assigned to all child animations.
       * @property target
       * @type HTMLElement|Node
       * @optional
       */
      publish: {
        target: null,
        /**
         * Group type. 'par' for parallel and 'seq' for sequence.
         * @property type
         * @type String
         */
        type: 'par',
        // timing
        duration: null,
        fillMode: null,
        easing: null,
        iterationCount: null,
        startDelay: null,
        direction: null
      },
      ready: function() {
        // TODO: need to do this for now.
        this.super();
      },
      makeAnimation: function() {
        return new ANIMATION_GROUPS[this.type](this.childAnimations, this.timingProps);
      },
      completeApply: function() {
        this.doOnChildren(function(c) {
          c.completeApply();
        });
        this.super(arguments);
      },
      onAnimationChange: function(inEvent, inDetail, inSender) {
        if (inSender !== this) {
          this.asyncApply();
        }
      },
      typeChanged: function() {
        this.asyncApply();
      },
      targetChanged: function() {
        this.doOnChildren(function(c) {
          c.target = this.target;
        });
      },
      doOnChildren: function(inFn) {
        Array.prototype.forEach.call(this.children, function(c) {
          // TODO <template> in the way
          c.apply && inFn(c);
        }, this);
      },
      get childAnimations() {
        var list = [];
        this.doOnChildren(function(c) {
          if (c.animation) {
            list.push(c.animation);
          }
        });
        return list;
      }
    });
  </script>
</element>
