<!--
Copyright 2013 The Toolkitchen Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->
<element name="g-app">
  <!-- NOTE: special processing for stylesheet so that extendors get
  styling without having to include this styling specifically.
  TODO(sorvell): it's probably better to do this by requiring users to include
  an external stylesheet explicitly in g-app extendors. We can use < shadow >
  tag to bring in @host styles, but that will not style shadowDOM elements in 
  the extendor's shadow.
  -->
  <style id="g-app">
    @host {
      * {
        /* fit to container */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      
        /* layout content using flexbox */
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        -webkit-box-orient: vertical;
        -webkit-flex-flow: column;
        
        /* convenient defaults */
        font-family: 'Helvetica Neue', Helvetica, Arial, 'open sans', sans-serif;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
    }
      
    /* oobe helper for flex'ing shadow content */
    .flex {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
    }

    /* oobe helper for flex'ing distributed content */
    content::-webkit-distributed(.flex) {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
    }
  </style>
  <template>
    <content></content>
  </template>
  <script>
    var style = this.querySelector('#g-app');
    var ensureHostStyles = function(inNode) {
      var root = inNode.webkitShadowRoot;
      if (root) {
        Toolkit.shimShadowDOMStyling([style], inNode.localName);
        root.insertBefore(style.cloneNode(true), root.childNodes[0]);
      }
    }

    Toolkit.register(this, {
      ready: function() {
        ensureHostStyles(this);
      }
    });
  </script>
</element>
