<!--
Copyright 2013 The Toolkitchen Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->
<element name="g-icon" attributes="src">
  <template>
    <style>
      @host {
        display: inline-block;
      }

      #icon {
        /* TODO(ffu): maybe we can use css variable for specifying the size */
        width: 24px;
        height: 24px;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
      }

      #icon[size=large] {
        width: 32px;
        height: 32px;
      }
    </style>
    <div id="icon" style="background-image:url({{src}})" size="{{size}}"></div>
  </template>
  <script>
    /**
     * g-icon is a 24x24 glyph expressed as a background-image.
     * Optionally can use 36x36 by setting size="large"
     * @module g-icon
     */
    Toolkit.register(this, {
      src: '',
      size: ''
    });
  </script>
</element>
