<!--
Copyright 2013 The Toolkitchen Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->
<script>
/**
 * g-icon-button enables you to place an image centered in a button.
 *
 * Example:
 *
 *     <g-icon-button src="star.png"></g-icon-button>
 *
 * @class g-icon-button
 */
</script>
<link rel="import" href="g-icon.html">
<element name="g-icon-button" attributes="src active">
  <template>
    <style>
      @host {
        * {
          display: inline-block;
          box-sizing: border-box;
          width: 40px;
          height: 40px;
          border: 1px solid transparent;
          padding: 7px;
          cursor: pointer;
        }
        
        *:hover, *.selected {
          border: 1px solid rgba(0,0,0,0.16);
          border-radius: 3px;
          opacity: 0.8;
        }
        
        *:active {
          opacity: 0.6;
        }
      }
    </style>
    <g-icon src="{{src}}"></g-icon>
  </template>
  <script>
    Toolkit.register(this, {
      /**
       * The URL of an image for the icon.
       *
       * @attribute src
       * @type string
       * @default ''
       */
      src: '',
      /**
       * If true, border is placed around the button to indicate
       * active state.
       *
       * @attribute active
       * @type boolean
       * @default false
       */
      active: false,
      activeChanged: function() {
        // TODO(sjmiles): 'class' attributes should have special handling 
        //   for this common use case
        this.classList.toggle('selected', this.active);
      }
    });
  </script>
</element>
