<!--
Copyright 2013 The Toolkitchen Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->
<link rel="component" href="g-selector.html">
<element name="g-menu" extends="g-selector">
  <template>
    <style>
      @host {
        * {
          display: inline-block;
          background: white;
          border: 1px solid #cfcfcf;
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
        }
      }
      
      /*@polyfill g-menu-item */
      shadow::-webkit-distributed(g-menu-item) {
        display: block;
        box-sizing: border-box;
        padding: 12px 14px;
        margin: 10px;
        border: 1px solid transparent;
        border-radius: 3px;
        cursor: pointer;
        -webkit-user-select: none;
        white-space: nowrap;
      }
      
      /*@polyfill g-menu-item.selected */
      shadow::-webkit-distributed(g-menu-item.selected) {
        border: 1px solid rgba(0, 0, 0, 0.16);
        background: whitesmoke;
      }
    </style>
    <shadow></shadow>
  </template>
  <script>
    Toolkit.register(this, {
      // TODO(ffu): takeAttributes only scans the object's prototype.
      selected: null
    });
  </script>
</element>
