<!--
Copyright 2013 The Toolkitchen Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->
<element name="g-menu-item" attributes="src label iconsize">
  <link rel="component" href="g-icon.html">
  <template>
    <style>
      @host {
        * {
          display: block;
          box-sizing: border-box;
          padding: 12px 14px;
          margin: 10px;
          border: 1px solid transparent;
          border-radius: 3px;
          cursor: pointer;
          -webkit-user-select: none;
        }
        
        /* will not work dynamically due to wkb.ug/112869 */
        *.selected {
          border: 1px solid rgba(0, 0, 0, 0.16);
          background: whitesmoke;
        }
      }

      .label {
        margin: 0 15px;
      }

      g-icon, .label, .label > * {
        display: inline-block;
        vertical-align: middle;
      }
    </style>
    <g-icon src="{{src}}" size="{{iconsize}}"></g-icon>
    <div class="label">
      <span>{{label}}</span>
      <content></content>
    </div>
  </template>
  <script>
    Toolkit.register(this, {
      src: '',
      iconsize: '',
      label: ''
    });
  </script>
</element>
