<!--
Copyright 2013 The Toolkitchen Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->
<link rel="component" href="g-selection.html">
<element name="g-selector" attributes="selected multi" on-mouseup="activateHandler">
  <template>
    <g-selection id="selection" multi="{{multi}}" on-select="selectionSelect"></g-selection>
    <content id="items" select="*"></content>
  </template>
  <script>
    Toolkit.register(this, {
      selected: null,
      multi: false,
      valueattr: 'name',      
      selectedClass: 'selected',
      ready: function() {
        this.setAttribute('touch-action', 'none');
      },
      get items() {
        return this.$.items.getDistributedNodes();
      },
      get selection() {
        return this.$.selection.getSelection();
      },
      valueForNode: function(inNode) {
        return inNode.getAttribute(this.valueattr);
      },
      valueToIndex: function(inValue) {
        // find an item with value == inValue and return it's index
        for (var i=0, items=this.items, c; (c=items[i]); i++) {
          if (this.valueForNode(c) == inValue) {
            return i;
          }
        }
        // if no item found, the value itself is probably the index
        return inValue;
      },
      selectedChanged: function() {
        this.valueToSelection(this.selected);
      },
      valueToSelection: function(inValue) {
        var item = this.items[this.valueToIndex(inValue)];
        if (item) {
          this.$.selection.select(item);
        }
      },
      // events fired from <g-selection> object
      selectionSelect: function(inEvent, inInfo) {
        if (inInfo.item) {
          inInfo.item.classList.toggle(this.selectedClass, inInfo.isSelected);
        }
      },
      // event fired from host
      activateHandler: function(inEvent) {
        var items = this.items;
        var i = Toolkit.findDistributedTarget(inEvent.target, items);
        if (i >= 0) {
          var selected = this.valueForNode(items[i]) || i;
          if (this.multi) {
            this.valueToSelection(selected);
          } else {
            this.selected = selected;
          }
          this.asend('activate');
        }
      }
    });
  </script>
</element>
