<!--
 Copyright 2013 The Toolkitchen Authors. All rights reserved.
 Use of this source code is governed by a BSD-style
 license that can be found in the LICENSE file.
-->
<!--
/**
 * @module Toolkit Elements
 */
/**
 * g-sidebar is styled to look like a sidebar.
 *
 * Example:
 *
 *     <g-sidebar label="Google">
 *     </g-ribbon>
 *
 * @class g-sidebar
 */
-->
<element name="g-sidebar" attributes="label">
  <template>
    <style>
      @host {
        * {
          display: -webkit-box;
          display: -webkit-flex;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-flex-flow: column;
          flex-direction: column;
          background: #333 url(images/ribbon_bg.png) repeat-y;
          box-shadow: inset -5px 0px 8px rgba(0, 0, 0, 0.4);
          color: white;
          font-size: 15px;
        }
      }
      
      .sidebar-label {
        height: 60px;
        line-height: 60px;
        padding-left: 30px;
        font-size: 21px;
        color: white;
      }
      
      .sidebar-divider {
        height: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        border-top: 1px solid rgba(0, 0, 0, 0.4);
        box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.025);
      }
      
      .sidebar-content {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        overflow: auto;
        position: relative;
      }

    </style>
    <div class="sidebar-label">{{label}}</div>
    <div class="sidebar-divider"></div>
    <div class="sidebar-content">
      <content></content>
    </div>
  </template>
  <script>
    Toolkit.register(this, {
      /**
       * Label to put on the top portion of ribbon.
       *
       * @attribute label
       * @type string
       * @default ''
       */
      label: ''
    });
  </script>
</element>
