<!--
Copyright 2013 The Toolkitchen Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->
<!--
/**
 * @module Toolkit Elements
 */
/**
 * g-tabs is a g-selector styled to look like a tab menu.
 *
 * Example:
 *
 *     <g-tabs selected="0">
 *       <span>One</span>
 *       <span>Two</span>
 *       <span>Three</span>
 *       <span>Four</span>
 *     </g-tabs>
 *
 * @class g-tabs
 * @extends g-selector
 */
-->
<link rel="import" href="g-selector.html">
<element name="g-tabs" extends="g-selector" attributes="vertical">
  <template>
    <style>
      .tabs {
        display: block;
        height: 28px;
        line-height: 28px;
        border: 0;
        border-bottom: 1px solid #ccc;
      }
      
      .tabs[vertical=true] {
        display: inline-block;
        width: 71px;
        height: 100%;
        border: 0;
        border-right: 1px solid #ccc;
      }
      
      
      /*@polyfill .tabs > * */
      ::-webkit-distributed(*) {
        display: inline-block;
        min-width: 54px;
        height: 27px;
        line-height: 27px;
        text-align: center;
        padding: 0 8px;
        cursor: default;
        border: 1px solid transparent;
        border-radius: 2px 2px 0 0;
        -webkit-transition: all 0.218s;
      }
      

      /*@polyfill .tabs[vertical=true] > * */
      .tabs[vertical=true] *::-webkit-distributed(*) {
        border-radius: 2px 0 0 2px;
      }
      
      /*@polyfill .tabs > *:hover */
      ::-webkit-distributed(*:hover) {
        color: #555;
      }
      
      /*@polyfill .tabs > *.selected */
      ::-webkit-distributed(*.selected) {
        color: #202020;
        border: 1px solid #ccc;
      }
    </style>
    <div class="tabs" vertical="{{vertical}}">
      <shadow></shadow>
    </div>
  </template>
  <script>
    Toolkit.register(this, {
      /**
       * If true, shows the tab menu vertically.
       *
       * @attribute vertical
       * @type boolean
       * @default false
       */
      vertical: false
    });
  </script>
</element>
