<!--
Copyright 2013 The Toolkitchen Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->
<link rel="component" href="g-selector.html">
<element name="g-tabs" extends="g-selector">
  <template>
    <style>
      .tabs {
        display: block;
        height: 28px;
        line-height: 28px;
        border: 0;
        border-bottom: 1px solid #ccc;
      }
      
      .tabs[vertical=true] {
        display: inline-block;
        width: 71px;
        height: 100%;
        border: 0;
        border-right: 1px solid #ccc;
      }
      
      
      /*@polyfill .tabs > * */
      ::-webkit-distributed(*) {
        display: inline-block;
        min-width: 54px;
        height: 27px;
        line-height: 27px;
        text-align: center;
        padding: 0 8px;
        cursor: default;
        border: 1px solid transparent;
        border-radius: 2px 2px 0 0;
        -webkit-transition: all 0.218s;
      }
      

      /*@polyfill .tabs[vertical=true] > * */
      .tabs[vertical=true] *::-webkit-distributed(*) {
        border-radius: 2px 0 0 2px;
      }
      
      /*@polyfill .tabs > *:hover */
      ::-webkit-distributed(*:hover) {
        color: #555;
      }
      
      /*@polyfill .tabs > *.selected */
      ::-webkit-distributed(*.selected) {
        color: #202020;
        border: 1px solid #ccc;
      }
    </style>
    <div class="tabs" vertical="{{vertical}}">
      <shadow></shadow>
    </div>
  </template>
  <script>
    Toolkit.register(this, {
      selected: null,
      vertical: false
    });
  </script>
</element>
