<!--
Copyright 2013 The Toolkitchen Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->
<!--
/**
 * @module Toolkit Elements
 */
/**
 * g-togglebutton is a button that has one of two states (ON/OFF).
 * You can tap or drag the button to switch state.
 *
 * Example:
 *
 *     <g-togglebutton value="true"></g-togglebutton>
 *
 * @class g-togglebutton
 */
-->
<element name="g-togglebutton" attributes="value"
    on-tap="toggle" on-trackstart="trackStart" on-track="track" on-trackend="trackEnd" on-flick="flick">
  <link rel="stylesheet" href="css/g-togglebutton.css" />
  <template>
    <div id="toggle" class="toggle">
      <span class="on">ON</span>
      <span class="off">OFF</span>
      <span id="thumb" class="thumb"></span>
    </div>
  </template>
  <script>
    Toolkit.register(this, {
      /**
       * Gets or sets the state, true is ON and false is OFF.
       *
       * @attribute value
       * @type boolean
       * @default false
       */
      value: false,
      ready: function() {
        this.setAttribute('touch-action', 'none');
      },
      toggle: function() {
        this.value = !this.value;
      },
      valueChanged: function() {
        this.$.toggle.classList.toggle('on', this.value);
      },
      trackStart: function(e) {
        e.preventTap();
        this.$.thumb.classList.add('dragging');
        this.w = this.$.thumb.scrollWidth;
      },
      track: function(e) {
        this.x = Math.max(0, Math.min(this.w, this.value ? this.w + e.dx : e.dx));
        this.$.thumb.style.webkitTransform = 'translate3d(' + this.x + 'px, 0, 0)';
      },
      trackEnd: function() {
        this.$.thumb.style.webkitTransform = null;
        this.$.thumb.classList.remove('dragging');
        this.value = this.x > this.w / 2;
        // make valueChanged calls immediately
        dirtyCheck();
      },
      flick: function(e) {
        this.value = e.xVelocity > 0;
        dirtyCheck();
      }
    });
  </script>
</element>
