.flexbox {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.inline-flexbox {
  display: -moz-inline-flex;
  display: -webkit-inline-flex;
  display: inline-flex;
}
.flexbox.row {
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.flexbox.col {
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.flexbox.justify-start {
  -moz-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.flexbox.justify-end {
  -moz-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.flexbox.justify-center {
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flexbox.align-start {
  -moz-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.flexbox.align-end {
  -moz-align-items: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.flexbox.align-center {
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.flexbox.flex-all > *,
[flex] {
  -moz-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.flexbox > content[flex]::-webkit-distributed(*) {
  -moz-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.flexbox > .align-start {
  -moz-align-self: flex-start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.flexbox > content::-webkit-distributed(.align-start) {
  -moz-align-self: flex-start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.flexbox > .align-end {
  -moz-align-self: flex-end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
.flexbox > content::-webkit-distributed(.align-end) {
  -moz-align-self: flex-end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
.flexbox > .align-center {
  -moz-align-self: center;
  -webkit-align-self: center;
  align-self: center;
}
.flexbox > content::-webkit-distributed(.align-center) {
  -moz-align-self: center;
  -webkit-align-self: center;
  align-self: center;
}
@host {
  .flexbox {
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  }
  .inline-flexbox {
    display: -moz-inline-flex;
    display: -webkit-inline-flex;
    display: inline-flex;
  }
  .flexbox.row {
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  .flexbox.col {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .flexbox.justify-start {
    -moz-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .flexbox.justify-end {
    -moz-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
  .flexbox.justify-center {
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .flexbox.align-start {
    -moz-align-items: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  .flexbox.align-end {
    -moz-align-items: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }
  .flexbox.align-center {
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .flexbox.flex-all > *,
  .flexbox > *[flex] {
    -moz-flex: 1;
    -webkit-flex: 1;
    flex: 1;
  }
  .flexbox > content[flex]::-webkit-distributed(*) {
    -moz-flex: 1;
    -webkit-flex: 1;
    flex: 1;
  }
  .flexbox > .align-start {
    -moz-align-self: flex-start;
    -webkit-align-self: flex-start;
    align-self: flex-start;
  }
  .flexbox > content::-webkit-distributed(.align-start) {
    -moz-align-self: flex-start;
    -webkit-align-self: flex-start;
    align-self: flex-start;
  }
  .flexbox > .align-end {
    -moz-align-self: flex-end;
    -webkit-align-self: flex-end;
    align-self: flex-end;
  }
  .flexbox > content::-webkit-distributed(.align-end) {
    -moz-align-self: flex-end;
    -webkit-align-self: flex-end;
    align-self: flex-end;
  }
  .flexbox > .align-center {
    -moz-align-self: center;
    -webkit-align-self: center;
    align-self: center;
  }
  .flexbox > content::-webkit-distributed(.align-center) {
    -moz-align-self: center;
    -webkit-align-self: center;
    align-self: center;
  }
}
