.flexbox {
  display: -webkit-flex;
}
.inline-flexbox {
  display: -webkit-inline-flex;
}
.flexbox.row {
  -webkit-flex-direction: row;
}
.flexbox.col {
  -webkit-flex-direction: column;
}
.flexbox.justify-start {
  -webkit-justify-content: flex-start;
}
.flexbox.justify-end {
  -webkit-justify-content: flex-end;
}
.flexbox.justify-center {
  -webkit-justify-content: center;
}
.flexbox.align-start {
  -webkit-align-items: flex-start;
}
.flexbox.align-end {
  -webkit-align-items: flex-end;
}
.flexbox.align-center {
  -webkit-align-items: center;
}
.flexbox.flex-all > *,
.flexbox > *[flex],
.flexbox > content[flex]::-webkit-distributed(*) {
  -webkit-flex: 1;
}
.flexbox > .align-start,
.flexbox > content::-webkit-distributed(.align-start) {
  -webkit-align-self: flex-start;
}
.flexbox > .align-end,
.flexbox > content::-webkit-distributed(.align-end) {
  -webkit-align-self: flex-end;
}
.flexbox > .align-center,
.flexbox > content::-webkit-distributed(.align-center) {
  -webkit-align-self: center;
}
