@host {
  display: inline-block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}
 
@host #overlay > .overlay {
  background: white;
  border: 1px solid #cfcfcf;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  margin: 10px 0 0 20px;
  -webkit-transform: translateX(-50%);
}

@host.right-aligned #overlay > .overlay {
  -webkit-transform: translateX(-90%);
}

@host.left-aligned #overlay > .overlay {
  -webkit-transform: translateX(-10%);
}

@host .arrow {
  height: 1px;
  width: 0;
  margin: 0 auto;
  margin-top: -22px;
  border-color: transparent transparent #cfcfcf transparent;
  border-style: solid;
  border-width: 10px;
}
 
@host .arrow-inner {
  border-bottom-color: white;
  margin-top: -19px;
}

@host.right-aligned .arrow {
  position: relative;
  left: -9px;
  margin-left: 90%;
}

@host.left-aligned .arrow {
  position: relative;
  left: -9px;
  margin-left: 10%;
}
 
#menu {
  border: 1px solid transparent;
  box-sizing: border-box;
  box-shadow: none;
}

@host g-menu-item {
  white-space: nowrap;
}

@media screen and (max-width: 800px) {
  @host.responsive .arrow-border, .arrow {
    display: none;
  }
  
  @host.responsive #menu {
    width: 100%;
  }
  
  @host.responsive #overlay > .overlay {
    position: absolute;
    -webkit-transform: translateX(0);
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    border-bottom: 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  @host.responsive #overlay.slideup > .overlay {
    -webkit-transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.218s;
  }
  
  @host.responsive #overlay.slideup.opened > .overlay {
    -webkit-transform: translateY(0);
  }
}