/*
 * Copyright 2013 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
@-webkit-keyframes g-panels-fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes g-panels-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes g-panels-fadeInPartial {
  0% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes g-panels-fadeOutPartial {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}

@-webkit-keyframes g-panels-fadeScaleIn {
  0% {
    z-index: 0;
    opacity: 0.5;
    -webkit-transform: scale(0.9) translateZ(0);
  }
  20% {
    z-index: 0;
    -webkit-transform: scale(0.9) translateZ(0);
  }
  100% {
    z-index: 0;
    opacity: 1;
    -webkit-transform: scale(1) translateZ(0);
  }
}

@-webkit-keyframes g-panels-fadeScaleOut {
  0% {
    z-index: 0;
    opacity: 1;
    -webkit-transform: scale(1) translateZ(0);
  }
  20% {
    z-index: 0;
    -webkit-transform: scale(0.9) translateZ(0);
  }
  100% {
    z-index: 0;
    opacity: 0.5;
    -webkit-transform: scale(0.9) translateZ(0);
  }
}

@-webkit-keyframes g-panels-slideRight {
  0% {
    z-index: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    z-index: 1;
    -webkit-transform: translate3d(100%, 0, 0);
  }
}

@-webkit-keyframes g-panels-slideFromRight {
  0% {
    z-index: 1;
    -webkit-transform: translate3d(100%, 0, 0);
  }
  100% {
    z-index: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes g-panels-slideLeft {
  0% {
    z-index: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    z-index: 1;
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}

@-webkit-keyframes g-panels-slideFromLeft {
  0% {
    z-index: 1;  
    -webkit-transform: translate3d(-100%, 0, 0);
  }
  100% {
    z-index: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes g-panels-slideBottom {
  0% {
    z-index: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    z-index: 1;
    -webkit-transform: translate3d(0, 100%, 0);
  }
}

@-webkit-keyframes g-panels-slideFromBottom {
  0% {
    z-index: 1;
    -webkit-transform: translate3d(0, 100%, 0);
  }
  100% {
    z-index: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes g-panels-slideTop {
  0% {
    z-index: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    z-index: 1;
    -webkit-transform: translate3d(0, -100%, 0);
  }
}

@-webkit-keyframes g-panels-slideFromTop {
  0% {
    z-index: 1;
    -webkit-transform: translate3d(0, -100%, 0);
  }
  100% {
    z-index: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes g-panels-explodeOut {
  0% {
    -webkit-transform: scale(1) translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0) translateZ(0);
    opacity: 0;
  }
}

@-webkit-keyframes g-panels-explodeIn {
  0% {
    z-index: 1;
    -webkit-transform: scale(0) translateZ(0);
    opacity: 0;
  }
  100% {
    z-index: 1;
    -webkit-transform: scale(1) translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes g-panels-flyOutRight {
  0% {
    z-index: 1;
    -webkit-transform: translate3d(0,0,0) rotate(0);
  }
  100% {
    z-index: 1;
    -webkit-transform: translate3d(10%, -110%, 0) rotate(5deg);
  }
}

@-webkit-keyframes g-panels-flyInLeft {
  0% {
    z-index: 1;
    -webkit-transform: translate3d(10%, -110%, 0) rotate(5deg);
  }
  100% {
    z-index: 1;
    -webkit-transform: translate3d(0,0,0) rotate(0deg);
  }
}