/*
 * Copyright 2013 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */


/*@polyfill #container > * */
g-tabpanels > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

/*@polyfill #container > g-panels */
g-tabpanels > g-panels {
  position: absolute;
}

/*@polyfill #container > .transition */
g-tabpanels > .transition {
  -webkit-transition: all 0.218s ease-in-out;
  transition: all 0.218s ease-in-out;
}

/*@polyfill #container > .animate */
g-tabpanels > .animate {
  -webkit-animation-duration: 0.218s;
  -webkit-animation-fill-mode: both;
  animation-duration: 0.218s;
  animation-fill-mode: both;
}

/* fade */
/*@polyfill #container > .panels-ascending-from, #container > .panels-descending-from */
g-tabpanels > .panels-ascending-from, g-tabpanels > .panels-descending-from {
  -webkit-animation: 0.218s both;
  -webkit-animation-name: g-panels-fadeOut;
  animation: 0.218s both;
  animation-name: g-panels-fadeOut;
}

/*@polyfill #container > .panels-ascending-to, #container > .panels-descending-to */
g-tabpanels > .panels-ascending-to, g-tabpanels > .panels-descending-to {
  -webkit-animation: 0.218s both;
  -webkit-animation-name: g-panels-fadeIn;
  animation: 0.218s both;
  animation-name: g-panels-fadeIn;
}