body {
  font-family: sans-serif;
  position: relative;
}

html /deep/ x-icon-button {
  background-color: #f5f5f5;
  border: 1px solid silver;
}

html /deep/ x-drop-button {
  background-color: #f5f5f5;
  border: 1px solid silver;
  height: 38px;
}

html /deep/ [avatar] {
  border-radius: 32px;
  width: 28px;
}

html /deep/ [scroll] {
  overflow: auto;
}