/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
@host {
  display: inline-block;
  opacity: 0.65;
}

@host:hover {
  opacity: 0.8;
}

.icon {
  width: 21px;
  height: 21px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
