@host {
  height: 100%;
  display: -webkit-flex;
  -webkit-flex-flow: column;
}

@host > .flex {
  -webkit-flex: 1;
  min-height: 0;
  min-width: 0;
}

.flex {
  -webkit-flex: 1;
  min-height: 0;
  min-width: 0;
}