/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Helvetica Nue', 'Helvetica', Arial, 'open sans' sans-serif;
}