/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
.star {
  display: inline-block;
  width: 12px;
  height: 21px;
  background: url('../images/star_blank.svg') center no-repeat;
  cursor: default;
}

.star.full {
  background: url('../images/star_full.svg') center no-repeat;
}