<link rel="import" href="g-animation.html">
<element name="g-bounce" extends="g-animation">
  <script>
    Toolkit.register(this, {
      publish: {
        properties: {
          transform: [{
            offset: 0,
            value: 'translateY(0)'
          }, {
            offset: 0.2,
            value: 'translateY(0)'
          }, {
            offset: 0.4,
            value: 'translateY(-30px)'
          }, {
            offset: 0.5,
            value: 'translateY(0)'
          }, {
            offset: 0.6,
            value: 'translateY(-15px)'
          }, {
            offset: 0.8,
            value: 'translateY(0)'
          }, {
            offset: 1,
            value: 'translateY(0)'
          }]
        }
      }
    });
  </script>
</element>
