<link rel="import" href="g-animation.html">
<element name="g-bounce" extends="g-animation" on-click="clickHandler">
  <script>
    Toolkit.register(this, {
      publish: {
        targetSelector: '',
        duration: 0.3,
        properties: {
          transform: [{
            offset: 0,
            value: 'translateY(0)'
          }, {
            offset: 0.2,
            value: 'translateY(0)'
          }, {
            offset: 0.4,
            value: 'translateY(-30px)'
          }, {
            offset: 0.5,
            value: 'translateY(0)'
          }, {
            offset: 0.6,
            value: 'translateY(-15px)'
          }, {
            offset: 0.8,
            value: 'translateY(0)'
          }, {
            offset: 1,
            value: 'translateY(0)'
          }]
        }
      },
      clickHandler: function() {
        console.log('bounce!');
        this.play();
      }
    });
  </script>
</element>
