<link rel="import" href="g-animation.html">
<element name="g-flip" extends="g-animation">
  <script>
    Toolkit.register(this, {
      publish: {
        duration: 0.5,
        properties: {
          transform: [{
            easing: 'ease-out',
            offset: 0,
            value: 'perspective(400px) translateZ(0px) rotateX(0deg) scale(1)'
          }, {
            easing: 'ease-out',
            offset: 0.4,
            value: 'perspective(400px) translateZ(50px) rotateX(170deg) scale(1)'
          }, {
            easing: 'ease-in',
            offset: 0.5,
            value: 'perspective(400px) translateZ(50px) rotateX(190deg) scale(1)'
          }, {
            easing: 'ease-in',
            offset: 0.8,
            value: 'perspective(400px) translateZ(0px) rotateX(360deg) scale(.95)'
          }, {
            easing: 'ease-in',
            offset: 1,
            value: 'perspective(400px) translateZ(0px) rotateX(360deg) scale(1)'
          }]
        }
      }
    });
  </script>
</element>
