<link rel="import" href="g-animation.html">
<element name="g-shake" extends="g-animation" on-click="clickHandler">
  <script>
    Toolkit.register(this, {
      publish: {
        targetId: '',
        duration: 0.3,
        magnitude: '10px',
        period: 0.1,
        easing: 'ease-in',
        autoplay: true
      },
      ready: function() {
        this.super();
        this.magnitudeChanged();
        this.periodChanged();
      },
      durationChanged: function() {
        this.super();
        this.generateProperties();
      },
      magnitudeChanged: function() {
        this.generateProperties();
      },
      periodChanged: function() {
        this.generateProperties();
      },
      generateProperties: function() {
        var transforms = ['translateX(0px)'];
        if (this.magnitude) {
          for (var i = 0; i < this.duration / this.period; i++) {
            transforms.push('translateX(-' + this.magnitude + ')');
            transforms.push('translateX(' + this.magnitude + ')');
          }
          transforms.push('translateX(-' + this.magnitude + ')');
          transforms.push('translateX(0px)');
        }
        this.properties = {
          transform: transforms
        };
      },
      clickHandler: function() {
        // for demo
        this.play();
      }
    });
  </script>
</element>
