.foo {
  margin: 10px;
  border: 10px solid red;
}

.layout {
  @apply(--zowie);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.horizontal {
  @extends(.layout);
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
