:host {
  display: block;
  border: 1px solid orange;
}

:host(.wide) {
  border-width: 2px;
}

.container1 > ::content > .content1 {
  border: 13px solid navy;
}

.container2 > ::content .content2 {
  border: 14px solid navy;
}

.computed {
  border: 15px solid orange;
}

.border {
  border: 1px solid red;
}